.classpath
.project
config.log
config.status
Makefile
config.cache
.zipCreation
target
classes
.tm_project.cache
jcurses.prj
jcurses.pws
autom4te.cache
target/
*.log
lib/jcurses.jar
lib/libjcurses.so
lib/libjcurses.dll
lib/libjcurses.jnilib

